<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <!-- <a class="navbar-brand" href="#">SUKU_POC</a> -->
    <a class="navbar-brand" routerLink="/home">
      <img src="https://cdn.worldvectorlogo.com/logos/bmw-2.svg" alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/fob">FOB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/efa">EFA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bmw">BMW</a>
      </li>
    </ul>
  </nav>
