<div class="row">
  <div class="col-md-3" ></div>
  <div class="col-md-6" style="border:2px solid black;">
      <div class="">
         <h2 style="text-align:center;">LOGIN</h2>
      </div><br>
      <div class="">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" >
      </div><br>
      <div class="">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" [(ngModel)]="password">
      </div><br>
      <button type="submit" class="btn btn-primary" (click)="onLogin()" >Login</button><br><br>
  </div>
  <div class="col-md-3" ></div>
</div>
